@import '../../scss/variables/variables';

.banner-contain{
    position : relative;

    .banner{ 
        display: block;
        position: relative;
        margin: auto;
        margin-top: 10px;
        width: 94vw;
    }

    .text-banner {
        background-color:rgba(0, 0, 0, 0.722);
        height: 100%;  
        padding-left: 3vw;
        padding-right: 5vw;   
        position : absolute;
        left :1vw;
        max-width: 55vw;
        top:0vh;
    }
}

.title-banner{
    font-family : $font-primary;
    font-size : 60px;
    margin-top: 15  vh;
}

.line{
    background-color: $color-secondary;
    width: 20vw;
    height: 0.7vw;
    margin-top: -1.5vw;
}

.banner-desc{
  margin-left: -2vw;
  margin-top: 3vw;
  
    li{
        align-items: center;
        display: flex; 
        list-style-type: none;

        p{
            font-family: 'Patrick Hand', cursive;
            font-weight: 400;
            font-size: 2vw;
            padding-left: 30px;
        }
  }
  
}


@media (max-width:63.9375em){
    .text-banner
    {
        display: none;
    }
}



