@import '../../Abstracts//valuable';
@import '../../Abstracts/mixin';

.title-record{
    font-size: $fontsize-head;
    font-family : $font-primary;
    @include striker;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-all-record {
    white-space: nowrap;
    margin-bottom: 20px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (min-width:1200px) and (max-width:1500px)
{
    .list-all-record
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:40px;
        
    }
}
@media (min-width:46.25em) and(max-width:63.9375em) {
    .title-record{
        font-size: $font-size-tablet-primary;
    }
}

@media (max-width:46.2em) {
    .title-record{
        font-size: $font-size-tablet-secondary;
    }   
    .list-all-record {
        overflow: auto;
        flex-wrap:nowrap;
    }
}
