@import '../../Abstracts/valuable';
//valuable & import & nested

.container{
    padding: 1% 3%;
    #header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .logo{
            cursor : pointer;
            max-width: 5rem;
        }
    }
}
