@import '../../Abstracts/valuable';

.navbar {  
    ul{
        
        display: flex;
        justify-content: space-around;
        align-items : center;
        li {
            list-style-type: none;
            text-decoration: none;
            font-family: $font-primary;
            font-size: 20px;
            font-weight: 700;
            a {
                color: white;
                position: relative !important;
                text-decoration: none;
                transition: all 0.3s ease 0.1s;
            }
        }
    }
}

nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
}

nav ul li a::before {
    background-color: $color-secondary;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
}

nav ul li a::after {
    background-color: $color-primary;
    transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
}

nav ul li a:hover::after,
nav ul li a:hover::before {
    width: 100%;
    left: 0;
}
