@import '../../Abstracts/valuable';
@import '../../Abstracts/mixin';

.title-ranking{
    font-family : $font-primary;
    font-size: $fontsize-head; 
    @include striker;

    
}

.rank_scroll{
    overflow: auto;

    .rank_table
    {
        border-collapse: collapse;
        margin: auto;
        font-family: $font-primary;
        width: 70vw;
        tr 
        {
            border-bottom: 0.5px solid white;
        }
    }
}

.row-table-rank{
    height: 3em;

    &:hover
    {
     background-color: $color-primary;
    }

    .color-red{
        color : rgb(245, 84, 84); 
        font-weight:bolder;
        font-size: 1.5em;
    }

    .color-blue{
        color: rgb(72, 133, 240); 
        font-size: 1.5em;
        font-weight:bolder;
    }

    .font-bold{
        font-size: 1.5em;
        font-weight:bolder;
    }

    .rank-scores{
        font-weight:bolder;
    }
 }

 .all-points{
    text-align: center;
}

 .rank_img--team{
    display: block;
    margin-right: 1em;
    max-width: 2em;
}

.list-five-match{
    align-items:center;
    display: flex;
    justify-content: space-around;

    & div img{
        max-width: 1.3em;
        padding-left: 1px;
        padding-right: 1px;
        transform: translateY(-25%);
    }
}



.team-rank{
    align-items: center;
    display: flex;
    padding-bottom:  1em ;
    padding-left: 0.5em;
    padding-top: 1em ;
}

.table_tittle--rank{
    color :bisque;
    font-size: large;
    height: 3em;

    th:nth-child(2)
    {
        text-align: left; 
    }
}


@media (min-width:46.25em) and(max-width:63.9375em) {
    .title-ranking{
        font-size: $font-size-tablet-primary;
    }
}
@media (max-width:46.2em) {
    .title-ranking{
        font-size: $font-size-tablet-secondary;
    }   
}

@media (max-width:63.9375em) {
    .hidden-device
    {
        display: none;
    }
    .table_tittle--rank th
    {
        font-size: small;
        padding-left:10px;
        padding-right: 10px;
    }
  
}