@import '../../Abstracts/valuable';
@import '../../Abstracts/mixin';

.title-ranking{
    font-size: $fontsize-head;
    font-family : $font-primary;
    @include striker;

}
@media (min-width:46.25em) and(max-width:63.9375em) {
    .title-ranking{
        font-size: $font-size-tablet-primary;
    }
}
@media (max-width:46.2em) {
    .title-ranking{
        font-size: $font-size-tablet-secondary;
    }   
}