$color-primary : rgb(131, 179, 245);
$color-secondary : rgb(245, 41, 41);
$font-primary : 'Yanone Kaffeesatz', sans-serif;
$font-secondary : Arial, Helvetica, sans-serif;
$fontsize-head : 55px;
$font-size-tablet-primary : 3em;
$font-size-tablet-secondary : 2em;